.profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-panel img {
    height: 30px;
}

.user-panel .dropdown {
    display: none;
}

.user-panel:hover .dropdown {
    display: block;
    position: absolute;
    min-width: 160px;
    background: red;
}