body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--copa-purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* temporary override */
/* span, label, input, button {
  color: white !important;
} */

:root {
  --copa-purple: #242753;
  --copa-pink: #E12B69;
  --copa-aqua: #4398B8;
  --copa-white: #FDFDFD;
}
/* 
.primary {
  background: var(--copa-aqua);
  color: var(--copa-white);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
} */

/* * {
  scroll-margin-top: 100px;
} */

/* button {
    font: inherit;
    height: 40px;
}

button.light {
    border: 1px solid white;
    background: none;
    color: white;
}

.no-margin * {
  margin: 0;
} */