body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--copa-white);
  background: var(--copa-purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --copa-purple: #43347A;
  --copa-pink: #E12B69;
  --copa-aqua: #4398B8;
  --copa-white: #FDFDFD;
}

.primary {
  width: 100vw;
  background: yellow;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}