header {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100vw;
    z-index: 1; /*to avoid conflict with mui*/
}

header .bar {
    padding-left: 250px;
    padding-right: 100px;
    display: flex;
    height: 50px;
    background: var(--copa-pink);
    justify-content: space-between;
    align-items: center;
}

header .extension {
    background: none;
    width: 140px;
    border-top: 50px solid var(--copa-pink);
    border-right: 40px solid transparent;
}

header .sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 100%;
}
