.title-wrapper {
  text-align: center;
}

.title-wrapper * {
  margin: 0;
}

.banner {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}