.text-prompt {
    display: block;
}

input[type="number"] {
    width: 50px;
}

label {
    margin-top: 10px;
}

.settings-wrapper {
    align-items: center;
}

.kickstart {
    width: 70%;
}

.calendar-wrapper {
    height: 500px;
}
