header {
    position: sticky;
    top: 0;
    width: 100vw;
}

header .settings-bar {
    text-align: right;
    background: var(--copa-purple);
    padding-right: 10px;
    font-size: 0.8em;
    height: 2em; 
    line-height: 2em; /* centers the text */
}

header .weird-triangle {
    width: 140px;
    background: none;
    border-top: 50px solid var(--copa-pink);
    border-right: 40px solid transparent;
}

header .top-bar {
    display: flex;
    background: var(--copa-pink);
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 100px;
}

header .links {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

header .bottom-bar {
    display: flex;
    width: 100vw;
    background: var(--copa-purple);
    height: 50px;
    align-items: center;
}

header .sublinks {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}
